<h1>Listing trips</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

<%= render @trips %>

  </tbody>
</table>

<br>

<%= link_to 'New Trip', new_trip_path %>
